@import '_nullstyle';
//-------------------------------------------
body {
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
}
.content {
	flex: 1 1 auto;
}

.hi {
	background-color: #445162;
	padding: 50px 10px;

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__body {
		color: #fff;
		padding-right: 30px;
	}

	&__title {
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
		font-size: 60px;
		margin: 0 0 38px 0;
	}

	&__list {
	}
	&__list li {
		background: url(../img/icons/icon.png) 0 1px no-repeat;
		font-size: 20px;
		line-height: 22px;
		padding-left: 36px;
		margin-bottom: 15px;
	}

	&__image {
		width: 70%;
		max-height: 500px;
		object-fit: cover;
		overflow: hidden;
	}
}
.title {
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}
.what {
	padding: 50px 0;
	&__row {
		display: flex;
	}
	&__image {
		flex: 0 0 430px;
	}
	&__image img {
		max-width: 100%;
	}
	&__body {
		flex: 1 1 auto;
		padding-left: 38px;
	}
	&__title {
		margin-bottom: 33px;
	}
	&__text {
	}
	&__text p {
		margin-bottom: 25px;
		color: #333333;
		font-size: 16px;
		line-height: 36px;
	}
}

.columns {
	background-color: #f5f5f5;
	padding: 50px 0 20px 0;
	&__title {
		text-align: center;
		margin-bottom: 30px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
	}
	&__column {
		padding: 0px 8px;
		flex: 0 1 50%;
		margin-bottom: 30px;
	}
	&__item {
	}
}
.item {
	&_row {
		display: flex;
	}
	&__image {
		flex: 0 0 200px;
	}
	&__body {
		flex: 1 1 auto;
		padding-left: 15px;
	}
	&__title {
		color: #445161;
		font-size: 24px;
		line-height: 30px;
	}
	&__text {
		color: #333333;
		font-size: 16px;
		line-height: 24px;
	}
}

.vertical {
	padding: 50px 0;
	&__title {
		text-align: center;
		margin-bottom: 30px;
	}
	&__body {
		//for width fixing
		max-width: 990px;
		margin: 0 auto;
	}
	&__row {
		display: flex;
		margin: 0 -22.5px;
	}
	&__column {
		padding: 0 22.5px;
		flex: 0 1 33.333%;
		display: flex;
	}
	&__item {
		background-color: #445162;
		color: #fff;
		padding: 0 0 20px 0;
		border-radius: 5px;
		border: 1px solid #445162;
		display: flex;
		flex-direction: column;
	}
	&__subtitle {
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
		padding: 12px 0;
		text-align: center;
	}
	&__label {
		background-color: #fff;
		text-align: center;
		color: #445162;
		padding: 15px 0;
		font-size: 40px;
	}
	&__text {
		flex: 1 1 auto;
		padding: 20px;
		font-size: 14px;
		line-height: 24px;
	}
	&__text p {
		margin: 0 0 15px 0;
	}
	&__text p:last-child {
		margin: 0;
	}
	&__btn {
		display: block;
		margin: 0 20px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-radius: 5px;
		color: #445161;
		font-size: 18px;
		background-color: #fff;
	}
}
.vertical__column_1 {
	order: 2;
	align-self: center;
}
.vertical__column_2 {
	order: 1;
}
.vertical__column_3 {
	order: 3;
	align-self: flex-end;
}

.footer {
	background-color: #f5f5f5;
	&__row {
		display: flex;
		height: 65px;
		justify-content: center;
		align-items: center;
	}

	&__text {
		color: #445162;
		font-size: 12px;
		letter-spacing: 0.3px;
	}
}
